.is-builder .animated {
  -webkit-animation-name: none !important;
  animation-name: none !important;
}
html {
  position: relative;
  min-height: 100%;
}
.bp-embedded-video {
  position: relative;
}
.bp-background-video,
.bp-background-video-preview {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.bp-parallax-background,
.bp-background {
  background-attachment: fixed !important;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover !important;
}
.bp-hidden-scrollbar .bp-parallax-background {
  background-size: auto 130%;
}
.mobile .bp-parallax-background {
  background-attachment: scroll !important;
}
.bp-background {
  background-attachment: scroll !important;
}
.bp-navbar {
  position: relative;
  width: 100%;
}
.bp-navbar:before {
  content: "";
  display: block;
}
.bp-navbar__brand-link:after,
.bp-navbar__brand-img {
  max-height: 74px;
  height: 100%;
}
.bp-navbar:before,
.bp-navbar__container {
  height: 98px;
}
.bp-navbar--ss .bp-navbar__brand-link:after,
.bp-navbar--ss .bp-navbar__brand-img {
  height: 74px;
}
.bp-navbar--ss:before,
.bp-navbar--ss .bp-navbar__container {
  height: 98px;
}
.bp-navbar--xs .bp-navbar__brand-link:after,
.bp-navbar--xs .bp-navbar__brand-img {
  height: 32px;
}
.bp-navbar--xs:before,
.bp-navbar--xs .bp-navbar__container {
  height: 56px;
}
.bp-navbar--s .bp-navbar__brand-link:after,
.bp-navbar--s .bp-navbar__brand-img {
  height: 48px;
}
.bp-navbar--s:before,
.bp-navbar--s .bp-navbar__container {
  height: 72px;
}
.bp-navbar--m .bp-navbar__brand-link:after,
.bp-navbar--m .bp-navbar__brand-img {
  height: 64px;
}
.bp-navbar--m:before,
.bp-navbar--m .bp-navbar__container {
  height: 88px;
}
.bp-navbar--l .bp-navbar__brand-link:after,
.bp-navbar--l .bp-navbar__brand-img {
  height: 96px;
}
.bp-navbar--l:before,
.bp-navbar--l .bp-navbar__container {
  height: 120px;
}
.bp-navbar--xl .bp-navbar__brand-link:after,
.bp-navbar--xl .bp-navbar__brand-img {
  height: 128px;
}
.bp-navbar--xl:before,
.bp-navbar--xl .bp-navbar__container {
  height: 152px;
}
.bp-navbar--short .bp-navbar__brand-link:after,
.bp-navbar--short .bp-navbar__brand-img {
  height: 40px;
}
.bp-navbar--short .bp-brand__logo .bp-iconfont{
  font-size: 40px;
}
.bp-navbar--short:before,
.bp-navbar--short .bp-navbar__container {
  height: 64px;
}
.bp-navbar--short .bp-navbar__container {
  padding: 12px 0;
}
@media (max-width: 767px) {
  .bp-navbar--short .bp-navbar__brand-link:after,
  .bp-navbar--short .bp-navbar__brand-img {
    height: 31px;
  }
  .bp-navbar--short:before,
  .bp-navbar--short .bp-navbar__container {
    height: 45px;
  }
  .bp-navbar--short .bp-navbar__container {
    padding: 7px 0;
  }
}
.bp-navbar__brand-img {
  position: relative;
}
.bp-navbar__brand-img,
.bp-navbar__container,
.bp-navbar__section {
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.bp-navbar__section {
  background: #2c2c2c;
  height: auto;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.bp-navbar__container {
  display: table;
  padding: 12px 0;
  width: 100%;
}
.bp-navbar__menu-box {
  display: table;
  width: 100%;
}
.bp-navbar__menu-box--inline-left,
.bp-navbar__menu-box--inline-center,
.bp-navbar__menu-box--inline-right {
  display: block;
  text-align: left;
}
.bp-navbar__menu-box--inline-center {
  text-align: center;
}
.bp-navbar__menu-box--inline-right {
  text-align: right;
}
.bp-navbar__column {
  display: table-cell;
  vertical-align: middle;
}
.bp-navbar__column--xxs {
  width: 1%;
}
.bp-navbar__column--xs {
  width: 10%;
}
.bp-navbar__column--s {
  width: 20%;
}
.bp-navbar__column--m {
  width: 30%;
}
.bp-navbar__column--l {
  width: 40%;
}
.bp-navbar__column--xl {
  width: 50%;
}
.bp-navbar__menu-box--inline-left .bp-navbar__column,
.bp-navbar__menu-box--inline-center .bp-navbar__column,
.bp-navbar__menu-box--inline-right .bp-navbar__column {
  display: inline-block;
}
.bp-navbar__items {
  float: left;
  padding-left: 0px;
  position: relative;
  left: -20px;
}
.bp-navbar__items--right {
  float: right;
  left: 0;
}
.float-left {
  float: left;
}
.bp-navbar__item {
  display: block;
  float: left;
  position: relative;
}
.bp-navbar__hamburger {
  display: none;
  margin-top: -11px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 10000;
}
.bp-navbar--collapsed .bp-navbar__container {
  position: relative;
}
.bp-navbar--collapsed .bp-navbar__column {
  display: block;
  width: 100%;
}
.bp-navbar--collapsed .bp-navbar__items--right {
  padding-top: 13px;
}
.bp-navbar--collapsed .bp-navbar__menu {
  background: rgba(0, 0, 0, 0.9);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.bp-navbar--collapsed .bp-navbar__menu-box {
  display: table-cell;
  vertical-align: middle;
}
.bp-navbar--collapsed .bp-navbar__items {
  float: none;
}
.bp-navbar--collapsed .bp-navbar__item {
  float: none;
}
.bp-navbar--collapsed .bp-navbar__hamburger {
  display: block;
}
.bp-navbar--collapsed.bp-navbar--open .bp-navbar__menu {
  display: table;
}
.bp-navbar--collapsed.bp-navbar--open:not(.bp-navbar--sticky) .bp-navbar__section {
  background: none;
  position: fixed;
}
.bp-navbar--collapsed.bp-navbar--open .bp-navbar__brand {
  visibility: hidden;
}
.bp-navbar--collapsed.bp-navbar--sticky.bp-navbar--open .bp-navbar__brand {
  visibility: visible;
}
.bp-navbar--collapsed.bp-navbar--open .bp-navbar__brand-img,
.bp-navbar--collapsed.bp-navbar--open .bp-navbar__container {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.bp-navbar--freeze.bp-navbar--collapsed.bp-navbar--open .bp-navbar__hamburger,
.bp-navbar--freeze.bp-navbar--collapsed.bp-navbar--open .bp-navbar__hamburger:hover {
  color: #fff !important;
}
.bp-navbar--sticky .bp-navbar__section {
  position: fixed;
}
.bp-navbar--absolute {
  position: absolute;
}
/* fix for popup menu conflict */
@media (max-width: 480px) {
  .bp-navbar--absolute.bp-navbar[id^=menu-] {
    position: absolute;
  }
}
.bp-navbar--transparent .bp-navbar__section {
  background: none;
}
.bp-navbar--stuck .bp-navbar__section,
.bp-navbar--relative .bp-navbar__section {
  background: #2c2c2c;
}
@media (max-width: 991px) {
  .bp-navbar--auto-collapse .bp-navbar__container {
    position: relative;
  }
  .bp-navbar--auto-collapse .bp-navbar__column {
    display: block;
    width: 100%;
  }
  .bp-navbar__column {
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y:auto;
  }
  .bp-navbar__column::-webkit-scrollbar {
    display:none;
  }
  .bp-navbar--auto-collapse .bp-navbar__items--right {
    padding-top: 13px;
  }
  .bp-navbar--auto-collapse .bp-navbar__menu {
    background: rgba(0, 0, 0, 0.9);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  .bp-navbar--auto-collapse .bp-navbar__menu-box {
    display: table-cell;
    vertical-align: middle;
  }
  .bp-navbar--auto-collapse .bp-navbar__items {
    float: none;
  }
  .bp-navbar--auto-collapse .bp-navbar__item {
    float: none;
  }
  .bp-navbar--auto-collapse .bp-navbar__hamburger {
    display: block;
  }
  .bp-navbar--auto-collapse.bp-navbar--open .bp-navbar__menu {
    display: table;
  }
  .bp-navbar--auto-collapse.bp-navbar--open:not(.bp-navbar--sticky) .bp-navbar__section {
    background: none;
    position: fixed;
  }
  .bp-navbar--auto-collapse.bp-navbar--open .bp-navbar__brand {
    visibility: hidden;
  }
  .bp-navbar--auto-collapse.bp-navbar--sticky.bp-navbar--open .bp-navbar__brand {
    visibility: visible;
  }
  .bp-navbar--auto-collapse.bp-navbar--open .bp-navbar__brand-img,
  .bp-navbar--auto-collapse.bp-navbar--open .bp-navbar__container {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.bp-after-navbar:before {
  content: "";
  display: block;
  height: 98px;
}
.bp-hamburger {
  cursor: pointer;
  height: 23px;
  width: 30px;
}
.bp-hamburger:focus {
  outline: none;
}
.bp-hamburger__line,
.bp-hamburger__line:before,
.bp-hamburger__line:after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  cursor: pointer;
}
.bp-hamburger__line,
.bp-hamburger__line:before,
.bp-hamburger__line:after {
  width: 30px;
  border-bottom: 5px solid;
  top: 9px;
}
.bp-hamburger__line:before {
  top: -9px;
}
.bp-hamburger__line:after {
  top: 9px;
}
.bp-hamburger__line,
.bp-hamburger__line:before,
.bp-hamburger__line:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.bp-hamburger--open .bp-hamburger__line {
  border-color: transparent;
}
.bp-hamburger--open .bp-hamburger__line:before,
.bp-hamburger--open .bp-hamburger__line:after {
  top: 0;
}
.bp-hamburger--open .bp-hamburger__line:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.bp-hamburger--open .bp-hamburger__line:after {
  top: 10px;
  -ms-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg);
}
@media (max-width: 767px) {
  .bp-hamburger {
    height: 23px;
    width: 27px;
  }
  .bp-hamburger__line,
  .bp-hamburger__line:before,
  .bp-hamburger__line:after {
    width: 27px;
    border-bottom: 4px solid;
    top: 9px;
  }
  .bp-hamburger__line:before {
    top: -9px;
  }
  .bp-hamburger__line:after {
    top: 9px;
  }
}

.navbar-dropdown .hamburger-icon {
  content: "";
  width: 16px;
  -webkit-box-shadow: 0 -6px 0 1px,0 0 0 1px,0 6px 0 1px;
  -moz-box-shadow: 0 -6px 0 1px,0 0 0 1px,0 6px 0 1px;
  box-shadow: 0 -6px 0 1px,0 0 0 1px,0 6px 0 1px;
}

.bp-brand {
  display: block;
  float: left;
  position: relative;
}
.bp-brand,
.bp-brand:hover {
  text-decoration: none;
}
.bp-brand__name {
  display: block;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
}
.bp-brand__name,
.bp-brand__name:hover {
  text-decoration: none;
}
.bp-brand--inline {
  display: table;
}
.bp-brand--inline:after {
  content: "";
  display: table-cell;
  width: 1px;
}
.bp-brand--inline .bp-brand__logo,
.bp-brand--inline .bp-brand__name {
  display: table-cell;
  vertical-align: middle;
}
.bp-brand--inline .bp-brand__logo {
  padding-right: 10px;
}
.bp-brand--inline .bp-brand__name {
  margin: 0;
  text-align: left;
}
.bp-form {
  display: table;
  margin-top: -13px;
  position: relative;
  top: 14px;
  width: 100%;
}
.bp-form__left,
.bp-form__right {
  display: table-cell;
  vertical-align: top;
}
.bp-form__left {
  padding-right: 3px;
}
.bp-form__right {
  width: 1px;
}
@media (max-width: 530px) {
  .bp-form {
    display: block;
    margin-top: -27px;
    position: relative;
    top: 26px;
  }
  .bp-form__left,
  .bp-form__right {
    display: block;
  }
  .bp-form__left {
    margin-bottom: 12px;
    padding-right: 0;
  }
  .bp-form__right {
    width: 100%;
  }
}
.bp-section {
  padding: 0 20px;
}
.bp-section--no-padding {
  padding: 0;
}
.bp-section--relative {
  position: relative;
}
.bp-section--fixed-size {
  overflow: hidden;
}
.bp-section--full-height {
  height: 100vh;
}
.bp-section--full-height.bp-after-navbar:before {
  display: none;
}
.bp-section--bg-adapted {
  background-attachment: scroll;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.bp-section--gray {
  background-color: #444444;
}
.bp-section--light-gray {
  background-color: #f0f0f0;
}
.bp-section--dark-gray {
  background-color: #3c3c3c;
}
.bp-section__container {
  padding: 0;
  position: relative;
  z-index: 3;
}
.bp-section__container--center {
  text-align: center;
}
.bp-section__container--std-padding {
  padding: 93px 0;
}
.bp-section__container--std-top-padding {
  padding-top: 93px;
}
.bp-section__container--std-bot-padding {
  padding-bottom: 93px;
}
.bp-section__container--sm-padding {
  padding: 41px 0;
}
.bp-section__container--sm-top-padding {
  padding-top: 41px;
}
.bp-section__container--sm-bot-padding {
  padding-bottom: 41px;
}
.bp-section__container--isolated {
  padding-bottom: 93px;
  padding-top: 93px;
}
.bp-section__container--first {
  padding-top: 93px;
  padding-bottom: 41px;
}
.bp-section__container--middle {
  padding-bottom: 41px;
}
.bp-section__container--last {
  padding-bottom: 93px;
}
.bp-section__row {
  margin-left: -24px;
  margin-right: -24px;
}
.bp-section__col {
  overflow: hidden;
  padding-left: 24px;
  padding-right: 24px;
}
.bp-section__left {
  padding-right: 40px;
}
.bp-section__right {
  padding-left: 15px;
}
.bp-section__header {
  line-height: 1.5em;
  margin: -10px 0 0;
  text-align: center;
}
@media (min-width: 768px) {
  .bp-section--short-paddings .bp-section__container--std-padding {
    padding: 59px 0;
  }
  .bp-section--short-paddings .bp-section__container--std-top-padding {
    padding-top: 59px;
  }
  .bp-section--short-paddings .bp-section__container--std-bot-padding {
    padding-bottom: 59px;
  }
  .bp-section--short-paddings .bp-section__container--sm-padding {
    padding: 41px 0;
  }
  .bp-section--short-paddings .bp-section__container--sm-top-padding {
    padding-top: 41px;
  }
  .bp-section--short-paddings .bp-section__container--sm-bot-padding {
    padding-bottom: 41px;
  }
  .bp-section--short-paddings .bp-section__container--isolated {
    padding-bottom: 59px;
    padding-top: 59px;
  }
  .bp-section--short-paddings .bp-section__container--first {
    padding-top: 59px;
    padding-bottom: 41px;
  }
  .bp-section--short-paddings .bp-section__container--middle {
    padding-bottom: 41px;
  }
  .bp-section--short-paddings .bp-section__container--last {
    padding-bottom: 59px;
  }
}
@media (max-width: 767px) {
  .bp-section__left {
    padding-right: 15px;
  }
  .bp-section__right {
    padding-left: 15px;
    padding-top: 51px;
  }
}
.bp-arrow {
  bottom: 71px;
  left: 0;
  line-height: 1px;
  padding: 0 20px;
  position: absolute;
  width: 100%;
  z-index: 3;
}
.bp-arrow__link {
  display: inline-block;
  font-size: 26px;
}
.bp-arrow__link,
.bp-arrow__link:hover,
.bp-arrow__link:focus {
  color: #fff;
}
.bp-arrow--floating .bp-arrow__link {
  -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  -o-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  animation: floating-arrow 1.6s infinite ease-in-out 0s;
}
@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.bp-arrow--dark .bp-arrow__link,
.bp-arrow--dark .bp-arrow__link:hover,
.bp-arrow--dark .bp-arrow__link:focus {
  color: #252525;
}
@media (max-width: 767px) {
  .bp-arrow {
    bottom: 41px;
  }
}
@media (max-width: 320px) {
  .bp-arrow {
    bottom: 21px;
    text-align: center;
  }
}
@media all and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
  .bp-arrow {
    bottom: 31px;
  }
}
.bp-box {
  display: table;
  width: 100%;
}
.bp-box--fixed {
  table-layout: fixed;
}
.bp-box--stretched {
  height: 100%;
}
.bp-box__magnet {
  display: table-cell;
  float: none;
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  vertical-align: middle;
}
.bp-box__magnet--sm-padding {
  padding: 41px 0;
}
.bp-box__magnet--top-left,
.bp-box__magnet--top-center,
.bp-box__magnet--top-right {
  vertical-align: top;
}
.bp-box__magnet--bottom-left,
.bp-box__magnet--bottom-center,
.bp-box__magnet--bottom-right {
  vertical-align: bottom;
}
.bp-box__magnet--top-left,
.bp-box__magnet--center-left,
.bp-box__magnet--bottom-left {
  text-align: left;
}
.bp-box__magnet--top-right,
.bp-box__magnet--center-right,
.bp-box__magnet--bottom-right {
  text-align: right;
}
.bp-box__container {
  height: 50%;
}
@media (max-width: 767px) {
  .bp-box__container {
    height: 100%;
  }
  .bp-box--adapted {
    display: block;
  }
  .bp-box--adapted > .bp-box__magnet {
    display: block;
    height: auto;
  }
}
.bp-overlay {
  background: #222;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.bp-google-map__marker {
  color: #252525;
  display: none;
  margin: 0;
}
.bp-google-map--loaded .bp-google-map__marker {
  display: block;
}
.bp-hero {
  color: #fff;
  position: relative;
}
.bp-hero__text {
  font-size: 46px;
  font-weight: bold;
  left: -2px;
  letter-spacing: 2px;
  line-height: 50px;
  margin: -18px 0 1px 0;
  padding-bottom: 41px;
  position: relative;
  top: 8px;
}
.bp-hero__subtext {
  font-size: 21px;
  line-height: 29px;
  margin: -32px 0 3px 0;
  padding: 0 0 41px 0;
  position: relative;
  top: 6px;
}
.bp-figure {
  display: inline-block;
  /*line-height: 1px;*/
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.bp-figure--no-bg {
  background: none;
}
.bp-figure--full-width {
  display: block;
  width: 100%;
}
.bp-figure.bp-after-navbar:before {
  display: none;
}
.bp-figure--full-width iframe,
.bp-figure--full-width .bp-figure__img,
.bp-figure--full-width .bp-figure__map {
  width: 100%;
}
.bp-figure iframe,
.bp-figure__img,
.bp-figure__map {
  max-width: 100%;
}
@-webkit-keyframes mapCircleLoading {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes mapCircleLoading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.bp-figure__map {
  height: 400px;
  position: relative;
}
.bp-figure__map--short {
  height: 300px;
}
.bp-figure__map iframe {
  height: 100%;
  width: 100%;
}
.bp-figure__map [data-state-details] {
  color: #6b6763;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.bp-figure__map[data-state] {
  background: #e9e5dc;
}
.bp-figure__map[data-state="loading"] [data-state-details] {
  display: none;
}
.bp-figure__map[data-state="loading"]::after {
  content: "";
  -webkit-animation: mapCircleLoading .6s infinite linear;
  animation: mapCircleLoading .6s infinite linear;
  border-radius: 50%;
  border: 6px rgba(255, 255, 255, 0.35) solid;
  border-top-color: #fff;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 40px;
}
.bp-figure__caption {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: #fff;
  display: block;
  font-size: 17px;
  left: 0;
  line-height: 1.3em;
  min-height: 53px;
  padding: 17px 20px;
  position: absolute;
  text-align: left;
  width: 100%;
}
.bp-figure__caption--no-padding {
  padding: 17px 0;
}
.bp-figure--wysiwyg .bp-figure__caption a,
.bp-figure--wysiwyg .bp-figure__caption a:hover {
  color: inherit;
  text-decoration: underline;
}
.bp-figure--caption-inside-top .bp-figure__caption {
  bottom: auto;
  top: 0;
}
.bp-figure--caption-outside-top .bp-figure__caption,
.bp-figure--caption-outside-bottom .bp-figure__caption {
  background: none;
  position: relative;
}
.bp-figure--no-bg.bp-figure--caption-outside-top .bp-figure__caption,
.bp-figure--no-bg.bp-figure--caption-outside-bottom .bp-figure__caption {
  color: #252525;
}
.bp-figure--no-bg.bp-figure--caption-outside-top .bp-figure__caption {
  margin-top: -3px;
  padding-top: 0;
}
.bp-figure--no-bg.bp-figure--caption-outside-bottom .bp-figure__caption {
  margin-top: -2px;
  padding-bottom: 0;
  top: 2px;
}
.bp-figure__caption--std-grid {
  background: none;
  z-index: 2;
  overflow: hidden;
}
@media (min-width: 768px) {
  .bp-figure__caption--std-grid {
    width: 715px;
    left: 50%;
    margin-left: -357.5px;
    padding: 17px 0;
  }
}
@media (min-width: 992px) {
  .bp-figure__caption--std-grid {
    width: 935px;
    margin-left: -467.5px;
  }
}
@media (min-width: 1200px) {
  .bp-figure__caption--std-grid {
    width: 1150px;
    margin-left: -575px;
  }
}
.bp-figure__caption--std-grid:before {
  bottom: 0;
  content: "";
  position: absolute;
  top: 0;
  width: 200%;
  z-index: -1;
  margin-left: -50%;
}
.bp-figure--caption-inside-top .bp-figure__caption--std-grid:before,
.bp-figure--caption-inside-bottom .bp-figure__caption--std-grid:before {
  background: rgba(0, 0, 0, 0.6);
}
.bp-figure__caption-small {
  color: #ccc;
  display: block;
  font-size: 14px;
  line-height: 1.3em;
}
.bp-figure--no-bg.bp-figure--caption-outside-top .bp-figure__caption-small,
.bp-figure--no-bg.bp-figure--caption-outside-bottom .bp-figure__caption-small {
  color: #777;
}
@media (max-width: 767px) {
  .bp-figure--adapted {
    display: block;
    width: 100%;
  }
  .bp-figure--adapted iframe,
  .bp-figure--adapted .bp-figure__img,
  .bp-figure--adapted .bp-figure__map {
    width: 100%;
  }
  .bp-figure--caption-inside-top .bp-figure__caption,
  .bp-figure--caption-inside-bottom .bp-figure__caption {
    background: none;
    position: relative;
  }
  .bp-figure--caption-inside-top .bp-figure__caption--std-grid:before,
  .bp-figure--caption-inside-bottom .bp-figure__caption--std-grid:before {
    display: none;
  }
}
.bp-reviews {
  list-style: none;
  margin: 0 -15px;
  padding: 3px 0 0 0;
}
.bp-reviews__item {
  position: relative;
  margin-top: 39px;
}
.bp-reviews__text {
  background: #fafafa;
  border-radius: 3px;
  border: 1px solid #ededed;
  color: #777;
  font-size: 16px;
  line-height: 26px;
  padding: 20px;
  position: relative;
}
.bp-reviews__text:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
  height: 14px;
  background-color: #fafafa;
  border-color: #ededed;
  border-style: none solid solid none;
  border-width: 0 1px 1px 0;
  bottom: -8px;
  content: "";
  display: block;
  left: 50px;
  position: absolute;
}
.bp-reviews__p {
  margin: 0;
}
.bp-reviews__author {
  margin-top: 30px;
  padding-left: 102px;
  position: relative;
}
.bp-reviews__author--short {
  margin-top: 27px;
  padding-left: 32px;
}
.bp-reviews__author-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 33px;
  position: absolute;
  top: 0;
}
.bp-reviews__author-name {
  color: #777;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: -3px;
}
.bp-reviews__author-bio {
  color: #999;
  font-size: 12px;
}
@media (max-width: 767px) {
  .bp-reviews__author {
    padding-bottom: 32px;
  }
  .bp-reviews__author--short {
    padding-bottom: 1px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .bp-reviews__item:nth-of-type(2n+1) {
    clear: left;
  }
}
@media (min-width: 992px) {
  .bp-reviews__item:nth-of-type(3n+1) {
    clear: left;
  }
}
@media (max-width: 991px) {
  .bp-header--reduce .bp-header__text {
    padding-top: 1em;
    margin-top: -1em;
  }
}
.bp-header {
  margin-top: -20px;
  padding: 0;
  position: relative;
  text-align: left;
  top: 10px;
}
.bp-header--std-padding {
  padding-bottom: 41px;
}
.bp-header--center {
  text-align: center;
}
.bp-header__text {
  display: block;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 6px;
  line-height: 1.5em;
  margin: 0;
}
.bp-header__subtext {
  color: #777;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 1px;
  margin: 8px 0 7px 0;
}
.bp-header--inline {
  margin-top: 0;
  padding: 41px 0 28px 0;
  top: 0;
}
.bp-header--inline .bp-header__text {
  letter-spacing: 4px;
  line-height: 1em;
  margin: 15px 0 0 0;
}
@media (max-width: 767px) {
  .bp-header--inline {
    padding: 47px 0 38px 0;
  }
  .bp-header--inline .bp-header__text {
    display: block;
    margin: 0 0 38px 0;
  }
  .bp-header--auto-align .bp-header__text,
  .bp-header--auto-align .bp-header__subtext {
    left: 0;
    text-align: center !important;
  }
}
@media (min-width: 768px) {
  .bp-header--reduce {
    margin-top: -5px;
    top: 2px;
  }
  .bp-header--reduce .bp-header__text {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.1em;
    padding-top: 0.4em;
    margin-top: -0.4em;
  }
}
.bp-social-icons__icon {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 29px;
  height: 56px;
  line-height: 61px;
  margin: 0 10px 13px 0;
  position: relative;
  text-align: center;
  width: 56px;
}
.bp-social-icons__icon:hover {
  color: #fff;
}
.bp-social-icons--style-1 .bp-social-icons__icon:hover {
  background: #252525 !important;
}
.bp-contacts {
  color: #9c9c9c;
  font-size: 14px;
  line-height: 1.7em;
  padding: 45px 0 46px;
}
.bp-contacts__img {
  max-width: 100%;
  margin: 6px 0 5px 40px;
}
.bp-contacts__img--left {
  margin-left: 0;
}
.bp-contacts__text {
  margin: 0;
}
.bp-contacts__header {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 3px;
}
.bp-contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .bp-contacts__img {
    margin-bottom: 10px;
  }
  .bp-contacts__header {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .bp-contacts__column {
    margin-top: 37px;
  }
}
.bp-footer {
  color: #9c9c9c;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1.5em;
  padding: 37px 0 39px;
  word-spacing: 1px;
}
.bp-footer__copyright {
  margin: 0;
}
.bp-buttons {
  margin: -26px 0 13px 0;
  position: relative;
  text-align: left;
  top: 26px;
}
.bp-buttons__btn,
.bp-buttons__link {
  margin: 0 10px 13px 0;
}
.bp-buttons__btn,
.bp-buttons__link,
.bp-buttons__btn:hover,
.bp-buttons__link:hover {
  text-decoration: none;
}
.bp-buttons--top {
  top: 44px;
  margin-top: -62px;
}
.bp-buttons--no-offset {
  margin-top: 0;
  top: 0;
}
.bp-buttons--only-links {
  left: -20px;
}
.bp-buttons--center {
  left: 5px;
  text-align: center;
}
.bp-buttons--center.bp-buttons--only-links {
  left: 0;
}
.bp-buttons--right {
  text-align: right;
}
.bp-buttons--right .bp-buttons__btn,
.bp-buttons--right .bp-buttons__link {
  margin: 0 0 13px 10px;
}
.bp-buttons--right.bp-buttons--only-links {
  left: 20px;
}
.bp-buttons--activated {
  left: 5px;
  text-align: center;
}
.bp-buttons--activated .bp-buttons__btn,
.bp-buttons--activated .bp-buttons__link {
  margin-left: 0;
  margin-right: 0;
}
.bp-buttons--activated .bp-buttons__link {
  font-size: 25px;
  padding: 10px 30px 2px;
}
.bp-buttons--activated .bp-buttons__btn {
  font-size: 15px;
  margin-top: 9px;
  padding: 15px 30px;
}
.bp-buttons--freeze.bp-buttons--activated .bp-buttons__link {
  font-size: 25px !important;
}
.bp-buttons--freeze.bp-buttons--activated .bp-buttons__link,
.bp-buttons--freeze.bp-buttons--activated .bp-buttons__link:hover {
  color: #fff !important;
}
.bp-buttons--freeze.bp-buttons--activated .bp-buttons__btn {
  font-size: 15px !important;
}
@media (max-width: 991px) {
  .bp-buttons {
    top: 0;
  }
  form:not(.bp-form) .bp-buttons {
    top: 26px;
  }
  .bp-buttons:first-child {
    margin-top: 0;
  }
  .bp-buttons--active {
    left: 5px;
    text-align: center;
  }
  .bp-buttons--active .bp-buttons__btn,
  .bp-buttons--active .bp-buttons__link {
    margin-left: 0;
    margin-right: 0;
  }
  .bp-buttons--right.bp-buttons--only-links {
    left: 0;
  }
  .bp-buttons--active .bp-buttons__link {
    font-size: 25px;
    padding: 10px 30px 2px;
  }
  .bp-buttons--active .bp-buttons__btn {
    font-size: 15px;
    margin-top: 9px;
    padding: 15px 30px;
  }
  .bp-buttons--freeze.bp-buttons--active .bp-buttons__link {
    font-size: 25px !important;
  }
  .bp-buttons--freeze.bp-buttons--active .bp-buttons__link,
  .bp-buttons--freeze.bp-buttons--active .bp-buttons__link:hover {
    color: #fff !important;
  }
  .bp-buttons--freeze.bp-buttons--active .bp-buttons__btn {
    font-size: 15px !important;
  }
}
@media (max-width: 767px) {
  .bp-buttons--auto-align {
    left: 5px;
    margin-top: -26px;
    text-align: center;
    top: 26px;
  }
  .bp-buttons--auto-align.bp-buttons--only-links {
    left: 0;
  }
}
@media (max-width: 530px) {
  .bp-buttons {
    left: 0;
  }
  .bp-buttons__btn,
  .bp-buttons__link,
  .bp-buttons--right .bp-buttons__btn,
  .bp-buttons--right .bp-buttons__link {
    display: inline-block;
    margin: 0 0 13px 0;
    text-align: center;
    width: 100%;
  }
  .bp-buttons--activated .bp-buttons__btn,
  .bp-buttons--activated .bp-buttons__link,
  .bp-buttons--active .bp-buttons__btn,
  .bp-buttons--active .bp-buttons__link {
    width: auto;
  }
  .bp-buttons--activated .bp-buttons__btn,
  .bp-buttons--active .bp-buttons__btn {
    margin-top: 9px;
  }
}
.bp-article {
  color: #777;
  font-size: 17px;
  line-height: 27px;
  text-align: left;
  position: relative;
  margin-top: -21px;
  top: 14px;
}
.bp-article--wysiwyg h1,
.bp-article--wysiwyg h2,
.bp-article--wysiwyg h3,
.bp-article--wysiwyg h4,
.bp-article--wysiwyg h5,
.bp-article--wysiwyg h6 {
  color: #252525;
  display: block;
  font-weight: bold;
  line-height: 1.3em;
  text-align: left;
}
.bp-article--wysiwyg h1 {
  font-size: 27px;
  letter-spacing: 3px;
}
.bp-article--wysiwyg h2 {
  font-size: 23px;
  letter-spacing: 2px;
}
.bp-article--wysiwyg h3 {
  font-size: 19px;
  letter-spacing: 1px;
}
.bp-article--wysiwyg h4 {
  font-size: 14px;
}
.bp-article--wysiwyg h5 {
  font-size: 11px;
}
.bp-article--wysiwyg h6 {
  font-size: 10px;
}
.bp-article--wysiwyg p,
.bp-article--wysiwyg ul,
.bp-article--wysiwyg ol,
.bp-article--wysiwyg blockquote {
  margin: 0 0 10px 0;
}
.bp-article--wysiwyg blockquote {
  font-size: 17px;
  border-color: #f97352;
}
@media (max-width: 767px) {
  .bp-article--auto-align.bp-article--wysiwyg p,
  .bp-article--auto-align {
    text-align: left !important;
  }
}
.social-likes__counter {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  background: #3c3c3c;
  border-radius: 23px;
  font-size: 12px;
  height: 23px;
  line-height: 24px;
  min-width: 23px;
  padding: 0 5px;
  position: absolute;
  right: -7px;
  text-align: center;
  top: -7px;
}
.social-likes__counter_empty {
  display: none;
}
.social-likes_style-1 .social-likes__icon:hover {
  background: #252525 !important;
}
.social-likes_style-1 .social-likes__icon:hover .social-likes__counter {
  background: #f97352;
}
.social-likes_style-2 .social-likes__icon {
  background: #252525;
}
.social-likes_style-2 .social-likes__counter {
  background: #f97352;
}
.social-likes_style-2 .social-likes__icon:hover .social-likes__counter {
  background: #3c3c3c;
}
.bp-plan {
  padding-bottom: 41px;
  padding-left: 1px;
  padding-right: 0;
  position: relative;
}
.bp-plan--first,
.bp-plan:first-child {
  padding-left: 0;
}
.bp-plan--last,
.bp-plan:last-child {
  padding-bottom: 93px;
}
.bp-plan__box {
  background: #fff;
}
.bp-plan__header {
  background: #444;
  overflow: hidden;
  padding: 20px 15px;
  color: #fff;
}
.bp-plan__number {
  border-bottom: 1px dotted #ddd;
  color: #333;
  font-size: 80px;
  line-height: 0;
  margin: 0px 10px;
  padding: 41px 0;
  text-align: center;
  margin-bottom: 41px;
}
.bp-plan__details {
  padding-bottom: 41px;
}
.bp-plan__details ul,
.bp-plan__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bp-plan__details ul {
  text-align: center;
}
.bp-plan__details li,
.bp-plan__item {
  line-height: 40px;
  padding: 0 15px;
}
.bp-plan__item {
  text-align: center;
}
.bp-plan__buttons {
  overflow: hidden;
  padding: 0 15px 41px;
}
.bp-plan--favorite {
  margin-right: -1px;
  margin-top: -30px;
  padding-left: 0;
  top: 15px;
  z-index: 5;
}
.bp-plan--favorite .bp-plan__number:before {
  content: "";
  display: block;
  height: 15px;
}
.bp-plan--favorite .bp-plan__box {
  padding-bottom: 15px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}
.bp-plan--primary .bp-plan__header {
  background: #4c6972;
}
.bp-plan--success .bp-plan__header {
  background: #7ac673;
}
.bp-plan--info .bp-plan__header {
  background: #27aae0;
}
.bp-plan--warning .bp-plan__header {
  background: #faaf40;
}
.bp-plan--danger .bp-plan__header {
  background: #f97352;
}
@media (max-width: 767px) {
  .bp-plan,
  .bp-plan--first,
  .bp-plan:first-child {
    padding-left: 15px;
    padding-right: 15px;
  }
  .bp-plan__number {
    font-size: 79px;
  }
  .bp-plan__details {
    font-size: 17px;
  }
  .bp-plan--favorite {
    margin: 0;
    top: 0;
  }
}
.bp-number {
  display: inline-block;
  margin-top: -0.12em;
}
.bp-number__num {
  display: inline-table;
  height: 1em;
}
.bp-number__group {
  display: table-cell;
  font-weight: bold;
  position: relative;
  vertical-align: middle;
}
.bp-number__left {
  display: none;
  font-size: 0.34em;
  line-height: 0;
  padding: 0px 5px;
  vertical-align: super;
}
.bp-number__right {
  display: none;
  font-size: 0.25em;
  padding: 0px 5px;
  vertical-align: middle;
  white-space: nowrap;
}
.bp-number__caption {
  display: block;
  font-size: 0.19em;
  line-height: 1em;
  opacity: 0.5;
  padding-top: 0.5em;
  text-align: center;
}
.bp-number--price .bp-number__value {
  padding-right: 0.28em;
}
.bp-number--price .bp-number__left {
  display: inline;
}
.bp-number--short-price .bp-number__left,
.bp-number--short-price .bp-number__right {
  display: inline;
}
.bp-number--short-price .bp-number__caption {
  display: none;
}
.bp-number--inverse-price .bp-number__group {
  top: 0.1em;
}
.bp-number--inverse-price .bp-number__left {
  display: none;
}
.bp-number--inverse-price .bp-number__value {
  padding-left: 0.28em;
}
.bp-number--inverse-price .bp-number__right {
  display: inline;
}


/* iconfont default styling */
/* for buttons */
.bp-iconfont.bp-iconfont-btn,
.bp-buttons__btn .bp-iconfont{ /* depricated, used only for compatibility */
  padding-right: 0.3em;
  font-size: 2em;
  line-height: 0.4em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.1em;
  text-decoration:none;
}

/* menu links */
.bp-iconfont.bp-iconfont-btn-parent,
.bp-buttons__link .bp-iconfont{ /* depricated, used only for compatibility */
  padding-right: 0.3em;
  font-size: 1.5em;
  position: relative;
  top: -0.2em;
  vertical-align:middle
}

/* msg-box4 */
.bp-iconfont.bp-iconfont-msg-box4,
.bp-iconfont.bp-iconfont-msg-box5{
  font-size: 357px;
  text-decoration:none;
  color:#FFFFFF;
}


/*menu logo */
.bp-iconfont.bp-iconfont-menu,
.bp-iconfont.bp-iconfont-ext__menu{
  font-size: 74px;
  text-decoration:none;
  color:#FFFFFF;
}

/* contacts1 */
.bp-iconfont.bp-iconfont-contacts1{
  font-size: 119px;
  text-decoration:none;
  color:#9C9C9C;
}

.bp-iconfont.bp-iconfont-features1{
  font-size: 250px; /* ~ image.height */
  text-decoration:none;
}
.engine {
	position: absolute;
	text-indent: -2400px;
	text-align: center;
	padding: 0;
}